.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}












.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 70px;

}

.Profile {
  border: 2px solid #333;
  padding: 20px;
  margin: 50px auto;
  max-width: 400px;
  background-color: #f7f7f7;
}

.ProfileImage {
  max-width: 100%;
  height: auto;
}

.Button {
  background-color: #0d0d0e;
  color: rgb(244, 242, 242);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
}

.Button:hover {
  background-color: #13fc41;
}

.TimeSinceMount {
  margin-top: 20px;
  color: #888;
}
